.mat-stepper-horizontal {
  font-family: "Open Sans", sans-serif;
  margin-top: 8px;
  height: calc(100% - 78px);
  background-color: #e7eef1;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: flex;
  align-items: flex-start;
  width: 60%;
  align-self: center;
  span {
    display: none;
  }

  .mat-step-header .mat-step-icon {
    color: white;
  }

  .mat-step-header .mat-step-icon-state-done {
    background-color: #3f51b5;
    color: white;
  }

  .mat-step-header .mat-step-icon-selected {
    border: 1px #3f51b5 solid;
    background-color: transparent;
    color: white;
  }
}

.mat-form-field {
  margin-top: 16px;
}

.mat-form-field {
  margin-top: 12px;
}

.search-container {
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.search-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1em;
  margin-left: -1em;
  .example-card {
    max-width: 400px;
    flex: 0 0 25%;
    max-width: 25%;
    margin: 1em;
  }
  .indentification-card {
    max-width: 270px !important;
    flex: 0 0 25%;
    max-width: 25%;
    margin: 0 15px;
  }
}
