<mat-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <div>
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Ínicio</ng-template>
        <h2>Informe o CPF do futuro cooperado (a)</h2>
        <p>
          Se necessário, você poderá duplicar uma conta existente ou pausar e
          retomar este cadastro futuramente.
        </p>
        <p>Digite apenas os números (sem pontos ou traços).</p>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>CPF</mat-label>
          <input
            type="tel"
            matInput
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
            required
          />
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Informe um CPF válido
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Informe um CPF válido
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Consultar Por CPF</button>
        </div>
      </form>
    </div>
    <div class="search-container">
      <div class="search-row">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Situação cadastral do CPF</mat-card-title>
            <mat-card-subtitle>Consulta na Receita Federal</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-label>Nome</mat-label>
            <p>Maria Ines</p>
            <mat-label>Nome</mat-label>
            <p>Maria Ines</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Documentos</ng-template>
      <h2>Digitalização de documentos</h2>
      <h3>{{ "Documentos do cooperado" | uppercase }}</h3>
      <p>
        A inserção de documentos pode ser feita via upload do computador ou
        fluxo do SmartShare (impressora). Os documentos devem ter boa
        visibilidade, estar legíveis e dentro das datas de validade.
      </p>
      <p>Digite apenas os números (sem pontos ou traços).</p>
      <div class="search-row">
        <mat-card class="indentification-card">
          <mat-card-header>
            <mat-card-title>Identificação (frente)</mat-card-title>
            <mat-card-subtitle>Obrigatório</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="indentification-card">
          <mat-card-header>
            <mat-card-title>Identificação (verso)</mat-card-title>
            <mat-card-subtitle>Obrigatório</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="indentification-card">
          <mat-card-header>
            <mat-card-title>Comprovante de residência</mat-card-title>
            <mat-card-subtitle>Obrigatório</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="indentification-card">
          <mat-card-header>
            <mat-card-title>Comprovante de renda</mat-card-title>
            <mat-card-subtitle>Opcional</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <h3>{{ "Documentos do representante" | uppercase }}</h3>
        <p>
          Os documentos do responsável legal, curador ou procurador devem ser
          inclusos no sistema para verificação e devem ter boa visibilidade,
          estar legíveis e dentro das datas de validade.
        </p>
        <mat-slide-toggle></mat-slide-toggle>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Responsável legal</mat-radio-button>
          <mat-radio-button value="2">Curador</mat-radio-button>
          <mat-radio-button value="3">Procurador</mat-radio-button>
        </mat-radio-group>
        <div class="search-row">
          <mat-card class="indentification-card">
            <mat-card-header>
              <mat-card-title>Documento lorem ipsum</mat-card-title>
              <mat-card-subtitle>Obrigatório</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="indentification-card">
            <mat-card-header>
              <mat-card-title>Documento lorem ipsum</mat-card-title>
              <mat-card-subtitle>Opcional</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div>
        <button mat-button matStepperNext>Consultar Por CPF</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Dados Cadastrais</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Admissão</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
