<mat-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Ínicio</ng-template>
      <h2>Informe o CPF do futuro cooperado (a)</h2>
      <p>
        Se necessário, você poderá duplicar uma conta existente ou pausar e
        retomar este cadastro futuramente.
      </p>
      <p>Digite apenas os números (sem pontos ou traços).</p>
      <span class="label">CPF</span>
      <div class="search">
        <input
          type="text"
          matInput
          formControlName="socialNumber"
          [errorStateMatcher]="matcher"
          placeholder="000.000.000-00"
          required
          (keyup.enter)="onPressEnter($event)"
        />
        <div>
          <button
            mat-flat-button
            class="social-number-search"
            (click)="findSocialNumber()"
          >
            Consultar Por CPF
          </button>
        </div>
      </div>
      <span
        class="error"
        *ngIf="
          firstFormGroup.hasError('socialNumber') &&
          !firstFormGroup.hasError('required')
        "
      >
        Informe um CPF válido
      </span>
      <span class="error" *ngIf="firstFormGroup.hasError('required')">
        Campo obrigatório
      </span>
    </form>
    <div class="search-container" *ngIf="haveResults()">
      <div class="search-row">
        <mat-card class="stepper-card">
          <mat-card-content>
            <span class="card-title">Situação cadastral do CPF</span>
            <span class="subtitle">Consulta na Receita Federal</span>
            <div class="info">
              <div class="icon-holder">
                <mat-icon> person</mat-icon>
              </div>
              <div>
                <mat-label>Nome</mat-label>
                <p>{{ client.getName() }}</p>
              </div>
            </div>
            <div class="info">
              <div class="icon-holder">
                <mat-icon class="checkmark">check_circle</mat-icon>
              </div>
              <div>
                <mat-label>Situação do CPF</mat-label>
                <p>{{ client.getSituation() }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Documentos</ng-template>
      <h2>Digitalização de documentos</h2>
      <h4>{{ "Documentos do cooperado" | uppercase }}</h4>
      <p>
        A inserção de documentos pode ser feita via upload do computador ou
        fluxo do SmartShare (impressora). Os documentos devem ter boa
        visibilidade, estar legíveis e dentro das datas de validade.
      </p>
      <p>Digite apenas os números (sem pontos ou traços).</p>
      <div class="search-row">
        <mat-card class="indentification-card">
          <mat-card-header>
            <span class="card-title">Identificação (frente)</span>
            <span class="subtitle">Obrigatório</span>
          </mat-card-header>
          <mat-card-content>
            <div class="file-container"></div>
            <button mat-button class="btn-file">Capturar imagem</button>
          </mat-card-content>
        </mat-card>
        <mat-card class="indentification-card">
          <mat-card-header>
            <span class="card-title">Identificação (verso)</span>
            <span class="subtitle">Obrigatório</span>
          </mat-card-header>
          <mat-card-content>
            <div class="file-container"></div>
            <button mat-button class="btn-file">Capturar imagem</button>
          </mat-card-content>
        </mat-card>
        <mat-card class="indentification-card">
          <mat-card-header>
            <span class="card-title">Comprovante de residência</span>
            <span class="subtitle">Obrigatório</span>
          </mat-card-header>
          <mat-card-content>
            <div class="file-container"></div>
            <button mat-button class="btn-file">Capturar imagem</button>
          </mat-card-content>
        </mat-card>
        <mat-card class="indentification-card">
          <mat-card-header>
            <span class="card-title">Comprovante de renda</span>
            <span class="subtitle">Opcional</span>
          </mat-card-header>

          <mat-card-content>
            <div class="file-container"></div>
            <button mat-button class="btn-file">Capturar imagem</button>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-divider></mat-divider>
      <div>
        <h4 class="representative">
          {{ "Documentos do representante" | uppercase }}
        </h4>
        <p class="text">
          Os documentos do responsável legal, curador ou procurador devem ser
          inclusos no sistema para verificação e devem ter boa visibilidade,
          estar legíveis e dentro das datas de validade.
        </p>
        <mat-slide-toggle></mat-slide-toggle>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Responsável legal</mat-radio-button>
          <mat-radio-button value="2">Curador</mat-radio-button>
          <mat-radio-button value="3">Procurador</mat-radio-button>
        </mat-radio-group>
        <div class="search-row">
          <mat-card class="indentification-card">
            <mat-card-header>
              <span class="card-title">Documento lorem ipsum</span>
              <span class="subtitle">Obrigatório</span>
            </mat-card-header>
            <mat-card-content>
              <div class="file-container"></div>
              <button mat-button class="btn-file">Capturar imagem</button>
            </mat-card-content>
          </mat-card>
          <mat-card class="indentification-card">
            <mat-card-header>
              <span class="card-title">Documento lorem ipsum</span>
              <span class="subtitle">Obrigatório</span>
            </mat-card-header>
            <mat-card-content>
              <div class="file-container"></div>
              <button mat-button class="btn-file">Capturar imagem</button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Dados Cadastrais</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Admissão</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
